<footer>
    <div class="div-footer">
        <nav class="nav-footer">
            <ul class="nav-ul">
                <li>
                    <ul>
                        <h3>Navegacion</h3>
                        <li><a href="/">Home</a></li>
                        <li><a href="">All Products</a></li>
                        <li><a href="/create">New Product</a></li>
                    </ul>
                </li> 
                <li>
                    <ul>
                        <h3>Contactanos</h3>
                        <li><span>(011)4855-0124</span></li>
                        <li><span>ventas.viena@gmail.com</span></li>
                        <li><span>Av. Alvarez Thomas 4523 - CABA</span></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <h3>Redes Sociales</h3>
                        <li> <a href="">Instagram</a> </li>
                        <li> <a href="">FaceBook</a> </li>
                        <li> <a href="">Twitter</a> </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</footer>