
    <%- include("./partials/head", {pageTitle: 'Create'}) %>
    <body>
    
        <%- include('./partials/header.ejs') %>
<main>
    <div class="div-create">
        <form action="/create" method="POST" enctype="multipart/form-data" class="container-create">
            <input type="text" name="name" placeholder="Nombre del producto">
            <input type="text" name="description" placeholder="Inserte una Descripcion">
            <div class="div-input-file">
                <label for="input-file">Ingrese una  Imagen</label>
                <input  id="input-file" type="file" name="image" class="file-input" >
            </div>
            <input type="text" name="price" placeholder="Inserte el precio del producto">
            <button type="submit">Enviar</button>
        </form>
    </div>    
</main>

        <%- include('./partials/footer.ejs') %>

    </body>
    </html>